<div>
  <div id="highcharts"></div>
  <div id="buttons-container">
    <div>
      <button
        class="button open"
        (click)="this.sensorService.onAbrirCerrarValvula()"
        [disabled]="!sensorService.valoresSensor.idSensor || sensorService.valoresSensor.apertura === 1"
      >
        Abrir electroválvula
      </button>
      <button
        class="button close"
        (click)="this.sensorService.onAbrirCerrarValvula()"
        [disabled]="!sensorService.valoresSensor.idSensor  || sensorService.valoresSensor.apertura === 0"
      >
        Cerrar electroválvula
      </button>
    </div>
    <button
      class="button"
      (click)="this.sensorService.onVerTodasLasMedicionesClick()"
      [disabled]="!sensorService.valoresSensor.idSensor"
    >
      Ver todas las mediciones
    </button>
    <button
      class="button"
      (click)="this.sensorService.onVerLogRiegosClick()"
      [disabled]="!sensorService.valoresSensor.idSensor"
    >
      Ver log riegos
    </button>
  </div>
</div>
