#dispositivo-container {
  display: flex;
  width: 250px;
  border: 1px solid white;
  position: relative;
  margin: 15px;
  cursor: pointer;
}

#strong {
  font-weight: 700;
  padding-left: 15px;
}

#arrow {
  right: 15px;
  position: absolute;
}
