#dispositivo-container {
  display: flex;
  width: 100%;
  border: 1px solid gray;
  position: relative;
  margin: 15px;
  cursor: pointer;
}
#dispositivo-container p {
  color: black;
}
#dispositivo-container:hover {
  border: 1px dashed black;
}

#strong {
  font-weight: 700;
  padding-left: 15px;
}

#arrow {
  right: 15px;
  position: absolute;
}
