<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Bello Leandro, TP </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bello Leandro, TP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="app-container">
    <div id="center-container">
      <app-listado></app-listado>
      <app-detalle-sensor></app-detalle-sensor>
      <app-popUp-component></app-popUp-component>
    </div>
  </div>
</ion-content>
