#container {
  text-align: center;
  justify-content: center;
  padding-top: 40px;
  display: flex;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
